<mat-toolbar class="header mat-elevation-z3">

    <span class="title-group">
        <img src="assets/images/receita-federal-logo-1.png" alt="logo-receita">
    </span>

    <ul class="menu">
        <li>
            <a href="https://github.com/LucasTeotonio7/api-receita-angular" target="_blank">
                <img src="assets/images/github.png" alt="github">
                <label>Código Fonte</label>
            </a>
        </li>
        <li>
            <a href="https://www.cnpj.ws/" target="_blank">Sobre API</a>
        </li>
    </ul>
</mat-toolbar>

<section class="content-form">
    <mat-card-title>
        CONSULTA DE CNPJ
    </mat-card-title>
    <form class="form">

        <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput [(ngModel)]="CNPJ" placeholder="Informe o CNPJ"
                autocomplete="off" mask="00.000.000/0000-00" name="cnpj">
        </mat-form-field>

        <button mat-icon-button aria-label="search-button" (click)="openDialog()">
            <mat-icon>search</mat-icon>
        </button>
    </form>
</section>

<mat-toolbar class="footer">
    <i class="material-icons v-middle">
        code
    </i>
    <span>
        Desenvolvido por <a href="https://www.linkedin.com/in/lucas-teotonio-25b2571a0/" target="_blank">Lucas Teotonio</a>
    </span>

</mat-toolbar>
