<mat-toolbar class="mat-elevation-z3">

    <span class="title-group">
        <img src="assets/images/icon-receita.png" alt="logo-receita">
    </span>

    <ul class="menu">
        <li>
            <a href="#">
                <img src="assets/images/github.png" alt="github">
                <label>Código Fonte</label>
            </a>
        </li>
        <li>
            <a href="#">Sobre Api</a>
        </li>
    </ul>
</mat-toolbar>

<mat-card>
    <mat-card-title>
        Consulta de CNPJ
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Pesquisar" name="pesquisa">
        </mat-form-field>

        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>search</mat-icon>
        </button>
    </form>
</mat-card>
