<div class="container">

    <h1>
        Dados da empresa
    </h1>

    <table>
      <thead>
        <tr>
          <th>Última Atualização</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10 de Dezembro de 2021 às 11:21:54 - 9 horas atrás</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Número de Inscrição</th>
          <th>Data de Abertura</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>06.990.590/0001-23 - MATRIZ</td>
          <td>01/09/2004 - 17 anos atrás</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Nome Empresarial</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GOOGLE BRASIL INTERNET LTDA.</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Atividade Econômica Primária</th>
        </tr>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>63.19-4-00</td>
          <td>Portais, provedores de conteúdo e outros serviços de informação na internet</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Atividades Econômicas Secundárias</th>
        </tr>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>73.19-0-04</td>
          <td>Consultoria em publicidade</td>
        </tr>
        <tr>
          <td>47.51-2-01</td>
          <td>Comércio varejista especializado de equipamentos e suprimentos de informática</td>
        </tr>
        <tr>
          <td>62.02-3-00</td>
          <td>Desenvolvimento e licenciamento de programas de computador customizáveis</td>
        </tr>
        <tr>
          <td>62.01-5-01</td>
          <td>Desenvolvimento de programas de computador sob encomenda</td>
        </tr>
        <tr>
          <td>63.11-9-00</td>
          <td>Tratamento de dados, provedores de serviços de aplicação e serviços de hospedagem na internet</td>
        </tr>
        <tr>
          <td>64.62-0-00</td>
          <td>Holdings de instituições não-financeiras</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Código e Descrição da Natureza Jurídica</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>206-2 - Sociedade Empresária Limitada</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Logradouro</th>
          <th>Número</th>
          <th>Complemento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>AV BRIG FARIA LIMA</td>
          <td>3477</td>
          <td>ANDAR 17A20 TSUL 2 17A20</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>CEP</th>
          <th>Bairro</th>
          <th>Município</th>
          <th>UF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>04.538-133</td>
          <td>ITAIM BIBI</td>
          <td>SAO PAULO</td>
          <td>SP</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Endereço Eletrônico</th>
          <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>googlebrasil@google.com</td>
          <td>(11) 2395-8400</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Capital Social</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>R$ 200.000.000,00 (duzentos milhões de reais)</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Quadro de Sócios e Administradores</th>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Qualificação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GOOGLE INTERNATIONAL LLC (<strong>ESTADOS UNIDOS</strong>)</td>
          <td>37-Sócio Pessoa Jurídica Domiciliado no Exterior</td>
        </tr>
        <tr>
          <td><strong>Representante:</strong> YUN KI LEE</td>
          <td>17-Procurador</td>
        </tr>
        <tr>
          <td>GOOGLE LLC (<strong>ESTADOS UNIDOS</strong>)</td>
          <td>37-Sócio Pessoa Jurídica Domiciliado no Exterior</td>
        </tr>
        <tr>
          <td><strong>Representante:</strong> YUN KI LEE</td>
          <td>17-Procurador</td>
        </tr>
        <tr>
          <td>FABIO JOSE SILVA COELHO</td>
          <td>05-Administrador</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Situação Cadastral</th>
          <th>Data da Situação Cadastral</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ATIVA</td>
          <td>01/09/2004 - 17 anos atrás</td>
        </tr>
      </tbody>
    </table>
</div>
