.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    margin-top: 10px;
    width: 60%;

    th{
        background-color: #f9fafb;
        border: 1px solid #e2e1e1;
        padding: 5px 0;
        border-radius: 4px;
    }

    td{
        padding-left: 14px;
        background-color: e2e1e1;
    }

}