<!-- FIXME: unify some tables -->
<div class="container">

    <div class="button-close">
      <button mat-icon-button title="Fechar" (click)="closeModal()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

    <h1>
        Dados da empresa
    </h1>

    <!-- table: corporate name -->
    <table>
      <thead>
        <tr>
          <th>Razão Social</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.razao_social }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: inscription -->
    <table>
      <thead>
        <tr>
          <th>CNPJ</th>
          <th *ngIf="cnpj.estabelecimento.nome_fantasia">Nome Fantasia</th>
          <th>Data de Abertura</th>
          <th>Última Atualização</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.estabelecimento.cnpj }}</td>
          <td *ngIf="cnpj.estabelecimento.nome_fantasia">
            {{ cnpj.estabelecimento.nome_fantasia }}
          </td>
          <td>{{ cnpj.estabelecimento.data_inicio_atividade | date: 'dd/MM/yyyy' }}</td>
          <td>{{ cnpj.atualizado_em | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: primary economic activities -->
    <table>
      <thead>
        <tr>
          <th>Atividade Econômica Primária</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.estabelecimento.atividade_principal.descricao }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: secondary economic activities -->
    <table>
      <thead>
        <tr>
          <th colspan="2">Atividades Econômicas Secundárias</th>
        </tr>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let atividade of cnpj.estabelecimento.atividades_secundarias">
          <td>{{ atividade.id }}</td>
          <td>{{ atividade.descricao }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: legal nature -->
    <table>
      <thead>
        <tr>
          <th>Código e Descrição da Natureza Jurídica</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.natureza_juridica.descricao }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: address part 1 -->
    <table>
      <thead>
        <tr>
          <th>Logradouro</th>
          <th>Número</th>
          <th>Complemento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.estabelecimento.logradouro }}</td>
          <td>{{ cnpj.estabelecimento.numero }}</td>
          <td>{{ cnpj.estabelecimento.complemento }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: address part 2 -->
    <table>
      <thead>
        <tr>
          <th>CEP</th>
          <th>Bairro</th>
          <th>Município</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.estabelecimento.cep }}</td>
          <td>{{ cnpj.estabelecimento.bairro }}</td>
          <td>
            {{ cnpj.estabelecimento.cidade.nome }} -
            {{ cnpj.estabelecimento.estado.sigla }}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- table: contacts -->
    <table>
      <thead>
        <tr>
          <th>Endereço Eletrônico</th>
          <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.estabelecimento.email }}</td>
          <td>{{ cnpj.estabelecimento.telefone1 }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: share capital -->
    <table>
      <thead>
        <tr>
          <th>Capital Social</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>{{ cnpj.capital_social | currency: 'BRL' }}</td> -->
          <td>{{ cnpj.capital_social | currency: 'BRL' }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: board of partners and administrators -->
    <table *ngIf="cnpj.socios != '' ">
      <thead>
        <tr>
          <th colspan="2">Quadro de Sócios e Administradores</th>
        </tr>
        <tr>
          <th>Nome:</th>
          <th>Qualificação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let socio of cnpj.socios">
          <td>
            {{ socio.nome }}
            <br>
            <p *ngIf="socio.nome_representante">
              <strong>Representante: </strong> {{ socio.nome_representante }}
            </p>
          </td>
          <td>{{ socio.qualificacao_socio.descricao }}<br>
            <p *ngIf="socio.qualificacao_representante">
              {{ socio.qualificacao_representante.descricao }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- table: registration status -->
    <table>
      <thead>
        <tr>
          <th>Situação Cadastral</th>
          <th>Data da Situação Cadastral</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.estabelecimento.situacao_cadastral }}</td>
          <td>{{ cnpj.estabelecimento.data_situacao_cadastral }}</td>
        </tr>
      </tbody>
    </table>
</div>
