@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Readex+Pro&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px !important;
}

.button-close{
    color: #f34a4a;
    width: 100%;
    text-align: right;
    height: 10px;
}

table{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #c2c1c1;
    font-family: "Kanit";
    border-spacing: 0;
    border-radius: 3px;

    thead{
        background-color: #e9ecef;
        color: #212529;

        th{
            padding: 5px 0;
            border-right: 1px solid #bbb9b9;
            border-bottom: 1px solid #bbb9b9;

            &:last-child{
                border-right:none;
            }
        }
    }

    td{
        padding: 10px 0 0 14px;
        background-color: e2e1e1;
        border-right: 1px solid #bbb9b9;

        &:last-child{
            border-right:none;
        }
    }

    @media (max-width: 991px){
        font-size: 12px;
    }

}