<!-- FIXME: unify some tables -->
<div class="container">

    <h1>
        Dados da empresa
    </h1>

    <!-- table: update data -->
    <table>
      <thead>
        <tr>
          <th>Última Atualização</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.ultima_atualizacao }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: inscription -->
    <table>
      <thead>
        <tr>
          <th>Número de Inscrição</th>
          <th>Data de Abertura</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.numero }}</td>
          <td>{{ cnpj.abertura }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: corporate name -->
    <table>
      <thead>
        <tr>
          <th>Razão Social</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.nome }}</td>
        </tr>
      </tbody>
    </table>


    <!-- table: primary economic activities -->
    <table>
      <thead>
        <tr>
          <th colspan="2">Atividade Econômica Primária</th>
        </tr>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let atividade of cnpj.atividade_principal">
          <td>{{ atividade.code }}</td>
          <td>{{ atividade.text }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: secondary economic activities -->
    <table>
      <thead>
        <tr>
          <th colspan="2">Atividades Econômicas Secundárias</th>
        </tr>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let atividade of cnpj.atividades_secundarias">
          <td>{{ atividade.code }}</td>
          <td>{{ atividade.text }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: legal nature -->
    <table>
      <thead>
        <tr>
          <th>Código e Descrição da Natureza Jurídica</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.natureza_juridica }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: address part 1 -->
    <table>
      <thead>
        <tr>
          <th>Logradouro</th>
          <th>Número</th>
          <th>Complemento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.logradouro }}</td>
          <td>{{ cnpj.numero }}</td>
          <td>{{ cnpj.complemento }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: address part 2 -->
    <table>
      <thead>
        <tr>
          <th>CEP</th>
          <th>Bairro</th>
          <th>Município</th>
          <th>UF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.cep }}</td>
          <td>{{ cnpj.bairro }}</td>
          <td>{{ cnpj.municipio }}</td>
          <td>{{ cnpj.uf }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: contacts -->
    <table>
      <thead>
        <tr>
          <th>Endereço Eletrônico</th>
          <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.email }}</td>
          <td>{{ cnpj.telefone }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: share capital -->
    <table>
      <thead>
        <tr>
          <th>Capital Social</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.capital_social | currency: 'BRL' }}</td>
        </tr>
      </tbody>
    </table>

    <!-- table: board of partners and administrators -->
    <table *ngIf="cnpj.qsa != '' ">
      <thead>
        <tr>
          <th colspan="2">Quadro de Sócios e Administradores</th>
        </tr>
        <tr>
          <th>Nome:</th>
          <th>Qualificação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qsa of cnpj.qsa">
          <td>
            {{ qsa.nome }}
            <strong *ngIf="qsa.pais_origem">
              ({{ qsa.pais_origem }})
            </strong>
            <br>
            <p *ngIf="qsa.nome_rep_legal">
              <strong>Representante: </strong> {{ qsa.nome_rep_legal }}
            </p>
          </td>
          <td>{{ qsa.qual }}<br>
            <p *ngIf="qsa.qual_rep_legal">
              {{ qsa.qual_rep_legal }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- table: registration status -->
    <table>
      <thead>
        <tr>
          <th>Situação Cadastral</th>
          <th>Data da Situação Cadastral</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cnpj.situacao }}</td>
          <td>{{ cnpj.data_situacao }}</td>
        </tr>
      </tbody>
    </table>
</div>
