/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 991px){
    .cdk-overlay-pane {
        width: 100% !important;
    }

    .mat-dialog-container{
        padding: 10px !important;
    }
}

.modal-cnpj-detail{
    width: 60%;
    height: 95%;

    @media (max-width: 991px){
        max-width: 95% !important;
        height: 92% !important;
    }
}
