/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane {
    overflow-y: scroll;
}

.cdk-overlay-pane::-webkit-scrollbar {
    background: #e5e6e6;
    width: 8px;
    border-radius: 0 10px 10px 0;
}

.cdk-overlay-pane::-webkit-scrollbar-thumb {
    background-color: #cecccc;
    border: 1px solid #9b9a9a;
    border-radius: 0 10px 10px 0;
}
